{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body background="/static/img/fundo.png">
    <img src="/static/img/capa.png">
    <div class="about">
    <h1>Sobre a universidade</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et reprehenderit ad possimus ut fugiat quidem unde
        error
        aut, saepe officia sequi molestiae harum perferendis numquam, hic aspernatur magni sed! Possimus!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et reprehenderit ad possimus ut fugiat quidem unde
        error
        aut, saepe officia sequi molestiae harum perferendis numquam, hic aspernatur magni sed! Possimus!
    </p>
{% endblock %}