{% extends "base.html" %}
{% block title %}Quem Somos{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body background="/static/img/fundo2.png">
    <h1>Quem somos</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro reprehenderit fugiat laboriosam earum excepturi
        mollitia numquam inventore debitis error quod corrupti dicta suscipit, recusandae necessitatibus dolore quia
        eligendi libero molestias.
    </p>
    <h1>5 motivos para estudar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tables em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr>
    <h1>Objetivos</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro reprehenderit fugiat laboriosam earum excepturi
        mollitia numquam inventore debitis error quod corrupti dicta suscipit, recusandae necessitatibus dolore quia
        eligendi libero molestias.
    </p>
</body>
{% endblock %}